<div class="center jumbotron">
  
  <h1> U-Blog</h1>
  
  
<%= link_to "Sign up now","#" ,class: "btn btn-primary,btn-lg btn-xlarge" %> 



<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">MRIGANK !</li>
      <li class="content__container__list__item">Manish !</li>
      <li class="content__container__list__item">Kshitij !</li>
      <li class="content__container__list__item">everybody !</li>
    </ul>
  </div>
</div>


</div>