
<div class="container">

<footer class="footer">

<small>
  

Copyright © <a href="enter in a link here">The Final year project U-Blog</a>
by <a href="enter in a link here">Mrigank Kshitij Manish</a>


  
  
  
  </small>

<nav>

<ul>



</ul>

</nav>

</footer>

</div>
